{%extends "base.html"%}
{%block title %}Error{% endblock %}
{%block head %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    #image{
        width: 500px;
        height: 500px;
        position: absolute;
        top:50px;
        right:228px;
       
    }
    .oops{
        font-size: 113px;}
    .oops{
        position: absolute;
        top: 20%;
    }
    p{
        position: absolute;
        top: 41%;
    font-size: 26px;    }
</style>


{%endblock%}

{%block body %}
     <div class="container">
       <nav>
        <h1 class="oops">OopS!</h1>
        <p class="looking">{{error}}</p>
        <p style="margin-top: 43px;">Error code : <span style="font-weight: 900;">{{error_code}}</span></p>
        <img src="/static/images/404.png" id="image" alt="">
       </nav>
     </div>

{%endblock%}

